/**
 * Pzen AjxCart for Zen Cart.
 * WARNING: Do not change this file. Your changes will be lost.
 *
 * @copyright Copyright 2017 Perfectus Inc.
 * Version : Pzen AjxCart 1.1
 */
 /* bof common */
.pzen-ajxpop-open {overflow: hidden;}
.pzenajx-wrapper .success {color: #d6e9c6;font-weight: bold;}
.pzenajx-wrapper .error {color: #ee001c;font-weight: bold;}
.pzenajx-wrapper .notice {color: #ccc;}
.pzenajx-wrapper .messages, .pzenajx-wrapper .messages ul {list-style: outside none none !important;margin: 0;padding: 0;}
.pzenajx-wrapper .messages {margin: 0 0 10px;overflow: hidden;position: relative;}
.pzenajx-wrapper .messages li {margin: 0 0 1%;}
.pzenajx-wrapper .messages > li:last-child {margin-bottom: 0;}
.pzenajx-wrapper .messages li li {margin: 0;}
.pzenajx-wrapper .messages a {text-decoration: underline;}
.pzenajx-wrapper .error-msg, .pzenajx-wrapper .success-msg, .pzenajx-wrapper .note-msg, .pzenajx-wrapper .notice-msg, .pzenajx-wrapper .info-msg {background-position: 25px center;background-repeat: no-repeat;border: 1px solid;display: inline-block;font-size: 14px;padding: 20px 20px 20px 44px;width: 100%;}
.pzenajx-wrapper .error-msg {background-color: #f5dad3;border-color: #c02230;color: #c02230;}
.pzenajx-wrapper .success-msg {background-color: #eaf8e9;border-color: #8ad683;color: #389030;}
.pzenajx-wrapper .info-msg {background-color: #d9edf7;border-color: #bce8f1;color: #31708f;}
.pzenajx-wrapper .success-msg::before {background-position: 0 4px;}
.pzenajx-wrapper .error-msg::before {background-position: 0 -25px;}
.pzenajx-wrapper .note-msg::before, .pzenajx-wrapper .notice-msg::before {background-position: 0 -85px;}
.pzenajx-wrapper .info-msg::before {background-position: 0 -56px;}
.pzenajx-wrapper .success-msg::before, .pzenajx-wrapper .error-msg::before, .pzenajx-wrapper .note-msg::before, .pzenajx-wrapper .notice-msg::before, .pzenajx-wrapper .info-msg::before {content: "";left: 15px;margin-top: -15px;padding: 16px;position: absolute;top: 50%;}
.pzenajx-wrapper .note-msg, .pzenajx-wrapper .notice-msg {background-color: #fef4c6;border-color: #fbdc52;color: #c09e05;position: relative;}
.pzenajx-content .messages {margin: 0 !important;}
.pzenajx-wrapper .pzenajx-close, .pzenajx-wrapper .error-msg::before, .pzenajx-wrapper .success-msg::before, .pzenajx-wrapper .note-msg::before, .pzenajx-wrapper .notice-msg::before, .pzenajx-wrapper .info-msg::before {background-image: url("../images/pzen_ajxcart.png");background-repeat: no-repeat;background-size: 20px auto;}
.pzenajx-wrapper .itemcart_list .item .left-col {display: table-cell;float: none;margin: 0;vertical-align: middle;width: 15%;}
.pzenajx-wrapper .itemcart_list .item .right-col {display: table-cell;float: none;padding-left: 10px;text-align: left;vertical-align: middle;width: 82%;}
.itemcart_list .mid-info .msg .messages > li::before {background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;}
.itemcart_list .mid-info .msg .messages > li {padding: 0;text-align: left;top: 0;}
.itemcart_list li:hover .mid-info .in_cont{display: none;}
.itemcart_list li .mid-info .msg {display:none;}
.itemcart_list li:hover .mid-info .msg {display: inline-block;}
.pzenajx-wrapper .attr_list {padding: 0;}
 /*eof common */
.pzenajx-wrapper .error-msg, .pzenajx-wrapper .success-msg, .pzenajx-wrapper .note-msg, .pzenajx-wrapper .notice-msg {border: medium none;width: 100%;font-size: 15px;display: inline-block;box-sizing: border-box;}
.pzenajx-wrapper .modal-content { padding: 0;}
.pzenajx-wrapper .itemcart_list .item .top { display: none;}
.pzenajx-wrapper .modal-header {position: absolute;right: 2px;z-index: 1;}
.pzenajx-wrapper .modal-dialog {max-width: 450px;}
.pzenajx-content .product-content {display: inline-block;padding: 30px 0 10px;text-align: center;width: 100%;}
.pzenajx-content .product-name {font-size: 1.3em;margin: 15px auto;max-width: 90%;}
.pzenajx-content .actions {text-align: center;}
.pzenajx-content .actions .btn {margin: 0 10px 20px;}
.pzenajx-wrapper.pzen-qck .modal-dialog {max-width: 600px;}
.pzenajx-content .ajxcart-info {float: left;margin: 0 0 10px;width: 100%;}
.pzenajx-wrapper.pzen-qck .pzenajx-content {padding: 25px 10px;}
.pzenajx-wrapper.pzen-qck .ajxcart-info .product__label {left: 20px;top: 35px;}
.ajxcart-info .product_image {display: inline-block;float: left;width: 28%;}
.ajxcart-info .pinfo-right {display: inline-block;float: left;padding: 0 0 0 18px;width: 72%;}
.ajxcart-info .pinfo-right #productName {font-size: 22px;}
.ajxcart-info .product__label {font-size: 11px;}
.pzenajx-content .product-info__price {font-size: 2em;}
.pzenajx-wrapper.pzen-qck .product-info__review {margin-bottom: 5px;}
.pzenajx-content .product-info__price {font-size: 3em;margin-bottom: 10px;}
.pzenajx-content .ajxcart-info-attr {display: inline-block;padding: 0;width: 100%;}
.pzenajx-content #productAttributes {float: left;padding: 10px 10px 0;width: 100%;}
.pzenajx-content .product-info .qty-label {line-height: 50px;margin-right: 10px;min-width: 45px;padding: 0;}
.pzenajx-content .product-info .qty-input {height: 50px;margin-right: 10px;padding-right: 20px;text-align: center;width: 90px;}
.pzenajx-content .cart-box .qty {padding: 0;width: 95px;}
.pzenajx-content .spplus-minus {background: hsl(0, 0%, 93%) none repeat scroll 0 0;font-size: 20px;position: absolute;right: 0;text-align: center;width: 25px;}
.pzenajx-content .spplus-minus .fff {line-height: 25px;}
.pzenajx-content .spplus-minus .ddd {text-decoration: none !important;}
.pzenajx-content .spplus-minus .fff:hover{background-color:#ddd;}
.pzenajx-content .cart-box .btn {height: 50px;padding: 10px 20px;}
.pzenajx-content .cart-box .btn {font-size: 18px;height: 50px;line-height: 50px;padding: 0 20px;}
.pzenajx-content .cart-box .button_in_cart {background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;border: medium none;}
.pzenajx-content .ajxcart-action .cart-box {display: table;float: none;margin: 0 auto;}
.pzen-ajx-loader .pzen-ajxldr::before, .pzen-ajx-loader .pzen-ajxldr:hover .product__inside__hover::before {background: hsl(0, 0%, 100%) url("../images/pzen-ajxpro.gif") no-repeat scroll 0 0;clear: both;content: " ";display: inline-block;float: left;height: 90%;left: 0;opacity: 0.6;position: absolute;width: 100%;z-index: 111;background-position: center;}
.pzen-ajx-loader .pzen-ajxldr:hover::before {height: 100%;left: 0;right: 0;width: inherit;}
.pzen-ajx-loader .pzen-ajxldr.product--zoom:hover::before {margin: 0 -50px;}
.pzen-ajx-loader header .cart .pzen-ajxldr:hover::before{margin:-20px 0 0;}
.pzen-ajx-loader .pzen-ajxldr:hover .product__inside__hover::before{height: 100%;left: 0;margin: 0;background-image:none;right: 0;width: inherit;}
.pzen-ajx-loader .pzen-tbl-ajxldr {background: url("../images/pzen-ajxpro.gif") no-repeat scroll center center;opacity: 0.5;z-index: 99;background-attachment:fixed;}
.pzen-ajxmodal-open .modal-backdrop.in {z-index: 99999999;}
.pzen-ajxmodal-open .pzenajx-wrapper {z-index: 999999999;}
.pzenajx-wrapper .pzenajx-top {font-size: 18px;line-height: 52px;margin: -30px 0 0;position: relative;text-align: center;top: 0;width: 100%;}
.pzenajx-wrapper .itemcart_list {display: inline-block;float: left;list-style: outside none none;margin: 0 0 10px;padding: 0;width: 100%;}
.pzenajx-wrapper .itemcart_list .item {border-radius: 0;box-sizing: border-box;float: left;margin: 0 0 3px;padding-bottom: 5px;padding-top: 5px;position: relative;width: 100%;}
.pzenajx-wrapper .itemcart_list .item .product-name {display: inline-block;font-size: 18px;margin: 0 0 2px;width: 100%;}
.pzenajx-wrapper .itemcart_list .item .qty-in-cart {margin: 0;padding: 0 0 3px;}
.pzenajx-wrapper .itemcart_list .item .qty-max {margin: 0;padding: 0 0 2px;}
.pzenajx-wrapper img{max-width:100%;height:auto;width:auto;max-height:100%;}
.pzenajx-content .ajxcart-action #productPricesSecond {display: none;}
#productinfoBody.pzen-ajx-loader #pageContent form.pzen-ajxldr::before {background-position: center top;}
#pzenajxshoppingcart .dropdown-menu {background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;border: medium none;box-shadow: none;display: block;float:none;list-style: outside none none;position: relative;}
#pzenajxshoppingcart .container {display: inline-block;width: 100%;}
#pzenajxshoppingcart .cart__item::before {display: none;padding: 0;}
#pzenajxshoppingcart .cart__item {padding: 0 22px 0 0;}
#pzenajxshoppingcart .cart__item .cart__item__control {position: absolute;right: 2px;}
#pzenajxshoppingcart .cart__item__delete .icon-delete > span {font-size: 0;}
#pzenajxshoppingcart .cart__item {border-bottom: 1px dashed hsl(0, 0%, 87%);margin: 10px 0 0;padding: 0 20px 10px 0;}
#pzenajxshoppingcart .cart__item:last-child{border:none;}
#pzenajxshoppingcart .cart__item .cart__item__image {height: auto;width: 20%;}
#pzenajxshoppingcart .cart__item .cart__item__info {display: inline-block;font-size: 15px;padding: 0 0 0 10px;width: 80%;}
#pzenajxshoppingcart .cart__item .cart__item__info__title > h2 {font-size: 14px;margin: 0 0 5px;}
#pzenajxshoppingcart .cart__item .cart__item__info__qty > input {background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;border: medium none;color: hsl(0, 0%, 47%);display: inline-block;float: left;height: auto;line-height: 24px;margin: 0;max-width: 20px;padding: 0;width: auto;}
#pzenajxshoppingcart .cart__item .cart__item__info__qty::before {clear: both;color: hsl(0, 0%, 20%);content:"\e5cd";float: left;font-family: "Material Icons";font-size: 10px;font-style: normal;font-weight: bold;line-height: 26px;padding: 0 4px;position: relative;}
#pzenajxshoppingcart .cart__item .cart__item__info__qty {display: inline-block;float: left;}
#pzenajxshoppingcart .cart__item .cart__item__info__price > span.info-label {display:none;}
#pzenajxshoppingcart .cart__item .cart__item__info__price {display: inline-block;float: left;}
#pzenajxshoppingcart .cart__item .cart__item__info__price > span {display: inline-block;float: left;}
#pzenajxshoppingcart .cart__item .cart__item__info__title > h2 > a {font-weight: bold;}
#pzenajxshoppingcart .cart__item .cart__item__image img {height: auto;max-height: 100%;max-width: 100%;width: auto;}
#pzenajxshoppingcart .cart__top, #pzenajxshoppingcart .cart__close, #pzenajxshoppingcart .sideBoxContent > .btn {display: none;}
#pzenajxshoppingcart .cart__bottom > .btn {margin: 3px 0;width: 100%;}
#pzenajxshoppingcart .sideBoxContent > .btn {height: 0;padding: 0;visibility: hidden;}
#pzenajxshoppingcart .cart__bottom .cart__total {background: hsl(0, 0%, 93%) none repeat scroll 0 0;margin: 10px 0 5px;padding: 6px 0;text-align: center;}


/* Ajax cart*/
.badge--cart {
  position: absolute;
  top: 2;
  right: auto;
  left: 16px;
  font-size: 16px;
  line-height: 1.95em;
  z-index: 0;
  padding: 0;
  width: 31px;
  height: 31px;
  font-weight: 800;
  text-align: center;
  -moz-border-radius: 50%;
  color: #FFF;
}
#ajax-cart-content.dropdown>a span.name-text {
  font-size: 17px;
  position: absolute;
  bottom: 8px;
  right: 12px;
  font-weight: 600;
  color: #FFF;
}
#ajax-cart-content.dropdown>a {
    width: 102px;
    border: 2px solid #0958ad;
    border-radius: 3px;
    display: block;
    float: right;
    height: 56px;
    position : relative; 
    background-color: #0958ad;
}
#ajax-cart-content.dropdown>a.dropdown-toggle::after { display: none; }
#ajax-cart-content.dropdown>a.dropdown-toggle::before {
    content: " ";
    background-image: url(/images/fdt_cart_w.svg);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 34px;
    color: #FFF;
}
p.contact_timing {
    display: inline-block;
    margin: 0px 0px 4px 40px;
    vertical-align: bottom;
    font-weight: 600;
}
#logoWrapper { padding-top: 20px; }
div.mobile--contacts {
    display: none;
    padding-top: 25px; 
    text-align: center;
}
div.mobile--contacts p {
    margin-bottom: 0px;
    background-color: rgba(204, 204, 204, 0.18);
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 600;
}
.ajax-cart-content-header .dropdown-menu.show {
    position: absolute;
    background: #fefefe none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 9px 12px rgb(0 0 0 / 18%);
    display: block;
    font-size: 13px;
    margin-top: -2px;
    margin-right: 10px;
    padding: 10px;
    right: 0;
    top: 100%;
    opacity: 1;
    transform: translateY(10px);
    transition: all 150ms linear 0s;
    width: 300px;
    z-index: 99;
}
.cart .dropdown-menu .cart__close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
.cart .dropdown-menu .cart__close span {
    display: none;
    font-size: 13px;
    font-weight: 500;
}
.pzenajx-minicart .cart__top {
    display: block;
    background: #f2f2f2 none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    border-radius: 5px 5px 0 0;
    color: #777;
    font-size: 14px;
    line-height: 22px;
    margin: -10px -10px 0;
    padding: 10px;
}
.pzenajx-minicart ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.pzenajx-minicart ul > .cart__item {
    border-bottom: 1px dashed #eee;
    float: left;
    margin: 0;
    padding: 10px 0;
    position: relative;
    width: 96%;
}
.pzenajx-minicart .cart__item .cart__item__image {
    display: inline-block;
    float: left;
    width: 25%;
    text-align: center;
}
.pzenajx-minicart .cart__item .cart__item__control {
    position: absolute;
    right: -13px;
    top: 10px;
}
.pzenajx-minicart .cart__item .cart__item__info {
    color: #888;
    display: inline-block;
    float: left;
    margin: 0 0 0 5%;
    width: 70%;
}
.pzenajx-minicart .cart__item__info__title {
    overflow-wrap: break-word;
    width: 98%;
}
.pzenajx-minicart .cart__item .cart__item__info {
    color: #888;
    display: inline-block;
    float: left;
    margin: 0 0 0 3%;
    width: 70%;
}
.pzenajx-minicart .cart__item__control .icon-delete {
    font-size: 10px;
    color: #555;
    font-weight: normal;
}
.pzenajx-minicart .cart__item .cart__item__image img {
    border: 1px solid #eee;
    height: auto;
    margin: 0 auto;
    max-height: 60px;
    max-width: 100%;
    width: auto;
}
.pzenajx-minicart .cart__item .cart__item__info__title > h2 {
    font-size: 13px;
    margin: 0 0 5px;
    color: 
}
.pzenajx-minicart .cart__item a {
    color: #555;
    font-weight: normal;
}
.pzenajx-minicart .hidden span {
    display: none;
}
.pzenajx-minicart .cart__item a.icon-delete {
    font-size: 1.1rem;
}
.pzenajx-minicart .cart__bottom {
    background: transparent none repeat scroll 0 0;
    margin: 16px 0 0;
    padding: 0;
    border: none;
    border-radius: 0 0 5px 5px;
    float: left;
    width: 100%;
}
.pzenajx-minicart .cart__bottom .cart__total {
    color: #888;
    display: table;
    float: none;
    margin: 0 auto 15px;
    padding: 0;
    text-align: center;
    width: 80%;
}
.pzenajx-minicart .cart__bottom .btn {
    display: inline-block;
    float: left;
    margin: 0 2%;
    width: 46%;
}
.pzenajx-wrapper .btn, .pzenajx-minicart .btn {
    background: #0958ad none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 6px 15px;
}
.pzenajx-minicart .cart__total > span {
    color: #555;
    font-size: 14px;
    font-weight: bold;
}

@media (max-width: 1024px) {
  #logoWrapper .cart .badge--cart {
/*    right: -25px;*/
  }
  #ajax-cart-content.dropdown>a span.name-text,
  #logoWrapper .cart .badge--cart {
    color: #0958ad;
  }
  #ajax-cart-content.dropdown>a {
    background-color: #FFF;
  }
  #ajax-cart-content.dropdown>a.dropdown-toggle::before {  background-image: url(/images/fdt_cart_b.svg); }

}
@media (max-width: 1003px) {
  p.contact_timing { display: none; }
  div.mobile--contacts {
    display: block; 
  }
  #logoWrapper { padding-top: 0px; }
}
